<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../styles/style.css" rel="stylesheet">
</head>

<body>
    <ul id="NAV" class="nav border-bottom border-info-subtle">
        <li><span class="nav-link">Loading...</span></li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <h1>Cart</h1>
        </div>
        <div class="row" id="Error"></div>
        <div class="row">
            <p id="Cart">Loading</p>
        </div>
        <form class="row g-0 gap-2">
            <span class="input-group">
                <span class="input-group-text">#</span>
                <span class="form-floating">
                    <input type="number" name="Number" id="Number" class="form-control" placeholder="Number" min="0" max="9999999999999999">
                    <label for="Number">Card Number</label>
                </span>
                <span class="input-group-text">CVC</span>
                <span class="form-floating">
                    <input type="number" name="CVC" id="CVC" class="form-control" placeholder="CVC" min="0" max="999">
                    <label for="CVC">CVC</label>
                </span>
            </span>
            <span class="input-group col-6">
                <span class="input-group-text">Month</span>
                <span class="form-floating">
                    <input type="number" name="Month" id="Month" class="form-control" placeholder="Month" min="1" max="12">
                    <label for="Month">Month</label>
                </span>
                <span class="input-group-text">Year</span>
                <span class="form-floating">
                    <input type="number" name="Year" id="Year" class="form-control" placeholder="Year" min="2023">
                    <label for="Year">Year</label>
                </span>
            </span>
            <button id="Pay" type="button" class="btn btn-success" onclick="pay()">Pay</button>
        </form>
        
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="../scripts/functions.js"></script>
    <script src="../scripts/renderer.js"></script>
</body>

</html>